* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-md: 400 1rem "Open Sans", serif;
  --text-sm: 400 .875rem "Open Sans", serif;
  --text-xs: 400 .75rem "Open Sans", serif;

  --head-md: 800 1.75rem "Baloo 2", serif;
  --head-sm: 800 1.125rem "Baloo 2", serif;

  --text-logo: 400 2.5rem "Leckerli One", serif;

  --color-pink: #FF598B;
  --color-heading: #F9F9F9;
  --color-body: #C8CDD0;
  --color-hover: #383D42;

  --input-stroke: #363B40;
  --input-base: #1C1F21;

  --brand-light: #59B2FF;
  --brand-dark: #1D6FB6;
  --brand-mid: #3487CF;

  --shape-button: #2D3136;
  --shape-hover: #383D42;
}

body{
  background-color: #212427;;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.line {
  border: 1px solid var(--input-stroke);
  margin-bottom: 3rem;
}

.andre {
  text-align: center;
  font: var(--text-sm);
  color: var(--color-body);
  
}