.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.aside-container {
  background-image: url(../assets/images/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 25rem;
  padding: 2rem;

  & #logo {
    width: 45px;
    height: 48px;
    margin-bottom: 1rem;
  }

  & h1 {
    font: var(--text-logo);
    color: var(--color-pink);
    margin-bottom: 0.25rem;
  }

  & p {
    font: var(--text-md);
    color: var(--color-heading);
  }
}



.main-container {
  overflow: auto;
  max-width: 60rem;
  padding-inline: 8.125rem;

  & .about-event{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-heading);
    font: var(--head-sm);
  }

  & .text-area + .about-event{
    margin-top: 3rem;
  }

  & h1 {
    margin-top: 5rem;
    font: var(--head-md);
    color: var(--color-heading);
  }
}